table {
    width: 100%;
  }

.icon-button {
    cursor: pointer;
    &:hover{
        background-color: #a7a7a7;
        transition: all ease-in-out 0.2s;
    }
}

#table-container {
    visibility: visible;
}

.hide {
    visibility: hidden !important;
}

