

<nav class="navbar">
  <label class="navbar-logo">DASHBOARD</label>
  <div class="navbar-burger" data-target="navbarMenu" (click)="toggle($event)">
      <div></div>
      <div></div>
      <div></div>
  </div>

  <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item">Link1</a>
          <a class="navbar-item">Link2</a>
          <a class="navbar-item">Link3</a>
          <a class="navbar-item">link4</a>
      </div>
      <div class="navbar-end">
          <button type="button" class="button" (click)="logout()">Logout</button>
      </div>
  </div>
</nav>
