
table {
  width: 100%;
}

.icon-button {
  cursor: pointer;
  &:hover{
      background-color: #a7a7a7;
      transition: all ease-in-out 0.2s;
  }
}

#table-container {
  visibility: visible;
}


.sidebar {
  display: flex;
  z-index: 5;
  position: absolute;
  top: calc(4rem + 2px);
  left: 3px;

  .sidebar-burger {
    cursor: pointer;
    margin-top: 10px;
    content: "";
    display: none;
    justify-content: center;
    position: absolute;
    color: #fff;


  }

  .open {
    display: flex;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: calc(100vh - (4rem + 2px));
    top: calc(4rem + 2px);
    background-color: #000725;

    h3 {
      color: #fff;
      background-color: #000b61;
      padding: 10px;
    }

    .button {
      text-align: center;
      padding: 10px 0 10px 0;
      width: 99%;
      cursor: pointer;
      background-color: #0015f7;
      &:hover {
        background-color: #0425aa;
        transition: all ease-in-out 0.2s;
      }

      &:active {
        border: solid 2px #1a1a1a
      }
    }
  }

  
}

.dashboard {
  position: absolute;
  top: calc(4rem + 2px);
  overflow-y: auto;
  width: calc(100vw - 15rem);
  right: 0;
  
}

@media screen and (max-width: 800px) {

  .sidebar {
    .sidebar-burger {
      display: block;
    }

    .sidebar-content {
      display: none;
    }

    .open {
      display: flex !important;
    }

  }

  .dashboard {
    position: absolute;
    right: auto;
    margin-left: 30px;
    width: 95vw;
  }

} 